<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret opgave</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{HTMLFragments/navbar :: navbar}"></div>


<div class="container">
    <form action="/alphasolutions/createTask" th:object="${taskObject}" method="post">

        <input type="hidden" name="subProjectID" th:value="${subProjectID}">

        <p>
            <label for="taskName">Navn på opgaven</label><br>
            <input class="input-field" id="taskName" name="taskName" th:field="*{taskName}" placeholder="Opgave navn"><br>
        </p>
        <p>
            <label for="description">Opgave beskrivelse</label><br>
            <textarea id="description" name="description" type="text" th:field="*{taskDescription}" placeholder="Opgave beskrivelse"></textarea><br>
        </p>
        <p>
            <label for="timeEstimate">Tidsestimering</label><br>
            <input class="input-field" id="timeEstimate" name="timeEstimate" type="number" th:field="*{taskTimeEstimate}" placeholder="Tidsestimering"><br>
        </p>

        <input type="hidden" id="subProjectID" th:field="*{subProjectID}">

        <p>
            <button class="submit-button" type="submit" value="Opret">Opret</button>
        </p>

    </form>

</div>
<a th:href="@{'/alphasolutions'}">
    <input type="button" value="Tilbage">
</a>

<div th:replace="~{HTMLFragments/footer :: footer}"></div>
</body>
</html>