<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret projekt</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{HTMLFragments/navbar :: navbar}"></div>


<div class="container">
    <form action="/alphasolutions/createProject" th:object="${projectObejct}" method="post">
        <p>
            <label for="projectName">Navn på projektet</label><br>
            <input class="input-field" id="projectName" name="projectName" th:field="*{projectName}" placeholder="Projekt navn"><br>
        </p>
        <p>
            <label for="startDate">Start dato</label><br>
            <input class="input-field" id="startDate" name="startDate" type="date" th:field="*{startDate}" placeholder="Start dato"><br>
        </p>
        <p>
            <label for="endDate">Slut dato</label><br>
            <input class="input-field" id="endDate" name="endDate" type="date" th:field="*{endDate}" placeholder="Slut dato"><br>
        </p>
        <p>
            <button class="submit-button" type="submit">Opret</button>
        </p>

    </form>

</div>
<a th:href="@{'/alphasolutions'}">
    <input type="button" value="Back" class="back-button">
</a>

<div th:replace="~{HTMLFragments/footer :: footer}"></div>

</body>
</html>