<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger subprojekt</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{HTMLFragments/navbar :: navbar}"></div>


<div class="container">
    <form action="/alphasolutions/edit_subproject" method="post" th:object="${subProjectObject}">

            <input name="subProjectID" type="hidden" th:field="*{subProjectID}">
        <input name="projectID" type="hidden" id="projectID" th:field="*{projectID}">
        <input name="projectID" type="hidden" th:value="projectID">
        <p>
            <label for="projectName">Ny projekt navn</label><br>
            <input class="input-field" type="text" id="projectName" th:field="*{subProjectName}" ><br>
        </p>
        <p>
            <label for="startDate">Ny start dato</label><br>
            <input class="input-field" type="date" id="startDate" th:field="*{startDate}"><br>
        </p>
        <p>
            <label for="endDate">Ny slut dato</label><br>
            <input class="input-field" type="date" id="endDate" th:field="*{endDate}"><br>
        </p>
        <p>
            <input class="submit-button" type="submit" value="Accepter">
        </p>

    </form>
</div>
<div class="button-positions">
    <a th:href="@{'/alphasolutions'}">
        <input type="button" value="Annuller" class="back-button">
    </a>
</div>

<div th:replace="~{HTMLFragments/footer :: footer}"></div>
</body>
</html>