<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit project</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <div>
                <label for="projectName">New project name</label><br>
                <input class="input-field" type="text" id="projectName"><br>
            </div>
            <p>
                <input class="submit-button" type="submit">
            </p>

        </form>
    </div>
</body>
</html>