<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit project</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>
    <fieldset>
        <form action="" method="post">

            <div>
                <label for="projectName">New project name</label><br>
                <input type="text" id="projectName"><br>
            </div>

            <input type="submit">

        </form>
    </fieldset>
</body>
</html>