<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>ProCalc Frontpage</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>
<fieldset>
<table>
    <tr th:each="project : ${projectList}">
        <td th:text="${project.projectName}">Project Name</td>
        <td th:text="${project.startDate}">Start Date</td>
        <td th:text="${project.endDate}">End Date</td>
    </tr>
</table>
</fieldset>
</body>
</html>