<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret profil</title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <form action="/logIn/create" th:object="${profile}" method="post">

        <input type="hidden" name="profileID" th:value="${profile.getProfileID()}">

        <p>
            <label for="userName">Brugernavn</label><br>
            <input class="input-field" id="userName" name="userName" type="text" th:field="*{username}" placeholder="Brugernavn"><br>
        </p>
        <p>
            <label for="firstName">Fornavn</label><br>
            <input class="input-field" id="firstName" name="firstName" type="text" th:field="*{firstName}" placeholder="Fornavn"><br>
        </p>
        <p>
            <label for="lastName">Efternavn</label><br>
            <input class="input-field" id="lastName" name="lastName" type="text" th:field="*{lastName}" placeholder="Efternavn"><br>
        </p>
        <p>
            <label for="password">Adgangskode</label><br>
            <input class="input-field" id="password" name="password" type="password" th:field="*{password}" placeholder="Adgangskode"><br>
        </p>
        <p>
            <label for="roleID">Vælg rolle</label><br>
            <select class="input-field" id="roleID" name="roleID" th:field="*{roleID}" >
            <option th:each="role : ${roleList}" th:value="${role.roleID}" th:text="${role.roleName}"></option>
            </select>
        </p>
        <p>
            <label for="departmenNO">Vælg afdeling</label><br>
            <select class="input-field" id="departmenNO" name="departmentNO" th:field="*{departmentNO}">
                <option th:each="department : ${departmentList}" th:value="${department.departmentNO}" th:text="${department.departmentName}"></option>
            </select>
        </p>

        <input type="hidden" id="profileID" th:field="*{profileID}">

        <p>
            <button class="submit-button" type="submit">Registrere bruger</button>
        </p>

    </form>

</div>
<div>
    <a th:href="@{'/alphasolutions'}">
        <input type="button" value="Tilbage" class="back-button">
    </a>
</div>


<div th:replace="~{HTMLFragments/footer :: footer}"></div>
</body>
</html>