<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>ProCalc </title>
    <link th:href="@{/alphasolutions.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{HTMLFragments/navbar :: navbar}"></div>


<div class="container">
    <table>
        <thead>
        <tr>
            <td>Opgave navn</td>
            <td>Opgave beskrivelse</td>
            <td>Tidsestimering</td>
            <td>Rediger</td>
            <td>Slet</td>
        </tr>
        </thead>
        <tr th:each="task : ${taskList}">
            <td th:text="${task.taskName}">Opgave navn</td>
            <td th:text="${task.taskDescription}">Opgave beskrivelse</td>
            <td th:text="${task.taskTimeEstimate}">Tidsestimering</td>
            <td>
                <a th:href="@{'/alphasolutions/'+ ${subProjectID} + '/' + ${task.taskID} + '/edit_task'}">
                    <input class="edit-button" type='button' value='Rediger'/>
                </a>
            </td>
            <td>
                <a th:href="@{'/alphasolutions/' + ${subProjectID} + '/' + ${task.taskID} + '/confirmDeleteTask'}">
                    <input class="delete-button" type='button' value='Slet'/>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <td>Samlet estimering</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${sumOfTasks}"></td>
            </tr>
        </tbody>
    </table>




</div>
<div>
    <a th:href="${'/alphasolutions/' + subProjectID +'/createTask'}">
        <input type="button" value="Ny opgave" class="create-button">
    </a>
</div>
<div>
    <a th:href="${'/alphasolutions'}">
        <input type="button" value="Tilbage" class="back-button">
    </a>
</div>

<div th:replace="~{HTMLFragments/footer :: footer}"></div>
</body>
</html>